:root {
	 --dbg:#1b1b1b;
	 --dfg:#2b2b2b;
	 --dhd:#444444;
	 --dtx:white;
	 --dli:thistle;
	 --lbg:#f5f5f5;
	 --lfg:#d4d4d4;
	 --ltx:#333;
	 --lhd:#ddd;
	 --lli:darkviolet;
}
 body {
	 background-color: var(--dbg);
	 color: var(--dtx);
	 font-family: Pretendard, Inter, sans-serif;
	 margin: 0;
	 display: grid;
	 grid-template-columns: 200px 1fr 200px;
}
 .logo, .link {
	 color: var(--dtx);
	 text-decoration: none;
}
 h1, h2, h3 {
	 font-family: "Gentium Book Plus";
}
 header {
	 background-color: var(--dhd);
	 grid-column: 1 / 4;
}
 .logo {
	 font-family: "Gentium Book Plus";
	 font-size: 2.5rem;
	 margin-left: 12px;
}
 .logo, .link {
	 display: inline;
	 margin-right: 12px;
}
 .content {
	 padding: 20px;
	 grid-column: 2;
	 min-height: 80vh;
}
 .left-sidebar, .right-sidebar {
	 background-color: var(--dfg);
	 padding: 20px;
}
 .footer {
	 grid-column: 1 / 4;
}
 .settings-option {
	 margin-bottom: 15px;
}
 .settings-title {
	 font-weight: bold;
	 margin-bottom: 5px;
}
 .settings-item {
	 cursor: pointer;
	 margin-left: 10px;
}
 a, .settings-item:hover, .selected {
	 color: var(--dli);
}
 .selected {
	 font-weight: bold;
}
 .lexicring-box {
	 text-align: center;
	 display: inline;
	 padding: 5px;
}
/* Light mode styles */
 body.light-mode {
	 background-color: var(--lbg);
	 color: var(--ltx);
}
 body.light-mode header {
	 background-color: var(--lhd);
}
 body.light-mode .left-sidebar, body.light-mode .right-sidebar {
	 background-color: var(--lfg);
}
 body.light-mode a, body.light-mode .settings-item:hover, body.light-mode .selected {
	 color: var(--lli);
}
 body.light-mode .logo, body.light-mode .link {
	 color: var(--ltx);
}
